html {
  margin: 0;
  height: 100%;
}
body {
  background-color: rgb(76, 186, 223);
}
h1 {
  color: rgb(71, 231, 151);
  text-align: center;
}
p {
  font-family: verdana;
  font-size: 20px;
}
ul {
  list-style-type: none;
}
ul li {
  display: inline-block;
}




.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.contact {
  font-size: 18px;
  color: rgb(23, 7, 114);
}
.welcome {
  position: relative;
  width: 80px;
  height: 80px;
  float: left;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  body {
      background-color: black;
      color: white;
  }
}
@media screen and (min-width: 768px) {
body {
  background-color: rgb(231, 243, 240);
}
}