html {
  margin: 0;
  height: 100%;
}

ul {
  list-style-type: none;
}
ul li {
  display: inline-block;
}

section {
  padding: 100px 0;
}


body {
  background-color: rgb(76, 186, 223);
}

h1 {
  color: rgb(71, 231, 151);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
.center {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}
.contact {
  font-size: 18px;
  color: rgb(23, 7, 114);
}
section {
  padding: 100px 0;
}

.about-akanian {

}
.welcome {
  position: relative;
  width: 80px;
  height: 80px;
  
 
}
.bear-cub {
  background-size: cover;
  width: 100%;
  height: 40vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  body {
      background-color: black;
      color: white;
  }
}
@media screen and (min-width: 768px) {
body {
  background-color: rgb(231, 243, 240);
}
}