body,
html {
    background-color: aliceblue;
    margin: 0;
    height: 100%;
    background: url("images/Akan-People.jpg");
    background-size: cover;
    width: 100%;
    height: 40vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

ul {
  list-style-type: none;
}
ul li {
  display: inline-block;
}

section {
  padding: 100px 0;
}
@media screen and (min-width: 480px) and (max-width: 767px) {
  body {
      background-color: black;
      color: white;
  }
}
@media screen and (min-width: 768px) {
body {
  background-color: rgb(231, 243, 240);
}
}