body,
html {
    background-color: aliceblue;
    margin: 0;
    height: 100%;
    background: url("/images/Akan-People.jpg") rgba(0, 0, 0, 0.5);
    background-size: cover;
    width: 100%;
    height: 40vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-blend-mode: multiply;
}

ul {
  list-style-type: none;
}
ul li {
  display: inline-block;
}

section {
  padding: 100px 0;
}