html {
  margin: 0;
  height: 100%;
}

ul {
  list-style-type: none;
}
ul li {
  display: inline-block;
}

section {
  padding: 100px 0;
}


body {
  background-color: rgb(76, 186, 223);
}

h1 {
  color: rgb(71, 231, 151);
  text-align: center;
}

p {
  font-family: verdana;
  font-size: 20px;
}
.contact {
  font-size: 18px;
  color: rgb(23, 7, 114);
}
section {
  padding: 100px 0;
}

.about-akanian {
  background: url("images/akanian.JPEG") rgba(0, 0, 0, 0.5);
  background-size: cover;
  width: 100%;
  height: 40vh;
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-blend-mode: multiply;
}
.welcome {
  width: 80px;
  height: 80px;
  object-fit: cover;
 
}
.bear-cub {
  
}
